<script>
  $(function() {
    var records = <%= @records.to_json.html_safe %>;
    var users = <%= @users.to_json.html_safe %>;

    var h = 300;
    var w = 500;
    var padding = 20;

    // Records
    var svg = d3.select(".dashboard").append("svg")
      .attr("height", h)
      .attr("width", w);

    var xScale = d3.scaleLinear()
      .domain([0, d3.max(records, function(d) {
        return d.value;
      })])
      .range([padding, w - padding]);
    var yScale = d3.scaleLinear()
      .domain([0, records.length])
      .range([0, h]);

    var xAxis = d3.axisBottom()
      .scale(xScale)
      .ticks(7);

    svg.selectAll("rect")
      .data(records)
      .enter()
      .append("rect")
      .attr("fill", "#337ab7")
      .attr("x", padding)
      .attr("y", function(d, i) {
        if (records.length > 5) {
          return (h / 2) - yScale(i);
        }
        else {
          return (h / 2) - (i * 20);
        }
      })
      .attr("width", 0)
      .attr("height", function(d) {
        if (records.length > 5) {
          return yScale(1) - 1;
        }
        else {
          return 19;
        }
      })
      .transition()
      .duration(500)
      .delay(function(d, i) {
        return i * 200;
      })
      .attr("width", function(d) {
        return xScale(d.value) - padding;
      });

    svg.selectAll("text")
      .data(records)
      .enter()
      .append("text")
      .attr("x", padding + 2)
      .attr("y", 14)
      .attr("dy", function(d, i) {
        if (records.length > 5) {
          return (h / 2) - yScale(i);
        }
        else {
          return (h / 2) - (i * 20);
        }
      })
      .attr("fill", "white")
      .text(function(d) {
        return d.name;
      });

    svg.append("g")
      .attr("transform", "translate(0, " + (h - padding) + ")")
      .call(xAxis);

    //Users
    var usersSvg = d3.select(".dashboard").append("svg")
      .attr("height", h)
      .attr("width", w);

    var usersXScale = d3.scaleLinear()
      .domain([0, d3.max(users, function(d) {
        return d.amount;
      })])
      .range([padding, w - padding]);

    var usersXAxis = d3.axisBottom()
      .scale(usersXScale)
      .ticks(7);

    usersSvg.selectAll("rect")
      .data(users)
      .enter()
      .append("rect")
      .attr("fill", "#337ab7")
      .attr("x", padding)
      .attr("y", function(d, i) {
        return (h / 2) - (i * 20);
      })
      .attr("height", 19)
      .attr("width", 0)
      .transition()
      .duration(500)
      .delay(function(d, i) {
        return i * 200;
      })
      .attr("width", function(d) {
        return usersXScale(d.amount) - padding;
      });

    usersSvg.selectAll("text")
      .data(users)
      .enter()
      .append("text")
      .attr("x", padding + 2)
      .attr("y", 14)
      .attr("dy", function(d, i) {
        return (h / 2) - (i * 20);
      })
      .attr("fill", "white")
      .text(function(d) {
        return d.user;
      });

    usersSvg.append("g")
      .attr("transform", "translate(0, " + (h - padding) + ")")
      .call(usersXAxis);
  });
</script>

<style>
  .domain, .tick line {
    stroke: #337ab7;
  }
  .tick text {
    fill: #337ab7;
  }
</style>

<div class="dashboard">
</div>
