<script>
  function getColor(i) {
    var colors = [
      "purple",
      "green",
      "#f0ad4e",
      "red",
      "#5bc0de"
    ];

    return colors[ i % colors.length ];
  }

  function plot(params) {
    var h = parseInt(this.style("height"));
    var w = parseInt(this.style("width"));
    var padding = 20;

    var xScale = d3.scaleLinear()
      .domain([0, d3.max(params.data, function(d) {
        return d.value;
      })])
      .range([padding, w - padding]);

    var yScale = d3.scaleLinear()
      .domain([0, params.data.length])
      .range([padding, h - padding]);

    var xAxis = d3.axisBottom()
      .scale(xScale)
      .ticks(7);

    this.selectAll(".bar")
      .data(params.data)
      .enter()
      .append("rect")
      .attr("class", "bar")
      .attr("fill", function(d, i) {
        return getColor(i);
      })
      .attr("x", padding)
      .attr("y", function(d, i) {
        return yScale(i);
      })
      .attr("width", 0)
      .attr("height", function(d) {
        return yScale(0);
      })
      .transition()
      .duration(500)
      .delay(function(d, i) {
        return i * 200;
      })
      .attr("width", function(d) {
        return xScale(d.value) - padding;
      });

    this.selectAll("text")
      .data(params.data)
      .enter()
      .append("text")
      .attr("x", padding + 2)
      .attr("y", 14)
      .attr("dy", function(d, i) {
        return yScale(i);
      })
      .attr("fill", "white")
      .text(function(d) {
        return d.name;
      });

    this.selectAll(".bar-label")
      .data(params.data)
      .enter()
      .append("text")
      .text(function(d) {
        return d.value;
      })
      .classed("bar-label", true)
      .attr("x", function(d) {
        return xScale(d.value) - 5;
      })
      .attr("y", function(d, i) {
        return yScale(i) + 1;
      })
      .attr("dx", 3)
      .attr("dy", function(d) {
        return yScale(0) / 1.5;
      });

    this.append("g")
      .attr("transform", "translate(0, " + (h - padding) + ")")
      .call(xAxis);
  }

  $(function() {
    var records = <%= @records.to_json.html_safe %>;
    var users = <%= @users.to_json.html_safe %>;

    var dashboard = d3.select(".dashboard")

    // Categories
    var categoriesPanel = dashboard.append("div")
      .classed("row", true)
      .append("div")
      .classed("col-md-12", true)
      .append("div")
      .classed("panel panel-blue", true);

    categoriesPanel.append("div")
    .classed("panel-heading", true)
    .text("Категории");

    var categoriesSvg = categoriesPanel.append("div")
    .classed("panel-body", true)
    .append("svg")
    .attr("height", "100%")
    .attr("width", "100%");

    plot.call(categoriesSvg, {
      data: records
    });

    //Users
    var usersPanel = dashboard.append("div")
      .classed("row", true)
      .append("div")
      .classed("col-md-12", true)
      .append("div")
      .classed("panel panel-blue", true);

    usersPanel.append("div")
      .classed("panel-heading", true)
      .text("Семья");

    var usersSvg = usersPanel.append("div")
      .classed("panel-body", true)
      .append("svg")
      .attr("height", "100%")
      .attr("width", "100%");

    plot.call(usersSvg, {
      data: users
    });
  });
</script>

<style>
  .domain, .tick line {
    stroke: white;
  }
  .tick text {
    fill: white;
  }
</style>

<div class="dashboard">
</div>
