<script>
  function plot(params) {
    var h = parseInt(this.style("height"));
    var w = parseInt(this.style("width"));
    var margin = {
      top: 5,
      bottom: 20,
      left: 100,
      right: 10
    };

    var xScale = d3.scaleLinear()
      .domain([0, d3.max(params.data, function(d) {
        return d.value;
      })])
      .range([margin.left, w - margin.right]);

    var yScale = d3.scaleBand()
      .domain(params.data.map(function(entry) {
        return entry.name;
      }))
      .range([margin.top, h - margin.bottom]);

    var ColorScale = d3.scaleOrdinal(d3.schemeCategory10);

    var xAxis = d3.axisBottom()
      .scale(xScale)
      .ticks(7);

    var yAxis = d3.axisLeft()
      .scale(yScale);

    this.selectAll(".bar")
      .data(params.data)
      .enter()
      .append("rect")
      .attr("class", "bar")
      .attr("fill", function(d, i) {
        return ColorScale(i);
      })
      .attr("x", margin.left)
      .attr("y", function(d, i) {
        return yScale(d.name);
      })
      .attr("width", 0)
      .attr("height", function(d) {
        return yScale.bandwidth();
      })
      .transition()
      .duration(500)
      .delay(function(d, i) {
        return i * 200;
      })
      .attr("width", function(d) {
        return xScale(d.value) - margin.left;
      });

    this.selectAll(".bar-label")
      .data(params.data)
      .enter()
      .append("text")
      .text(function(d) {
        return d.value;
      })
      .classed("bar-label", true)
      .attr("x", function(d) {
        return xScale(d.value) - 5;
      })
      .attr("y", function(d, i) {
        return yScale(d.name);
      })
      .attr("dx", 3)
      .attr("dy", function(d) {
        return yScale.bandwidth() / 1.5;
      });

    this.append("g")
      .attr("transform", "translate(0, " + (h - margin.bottom) + ")")
      .call(xAxis);

    this.append("g")
      .attr("transform", "translate(" + margin.left + ", 0)")
      .call(yAxis);
  }

  $(function() {
    var categories = <%= @categories.to_json.html_safe %>;
    var users = <%= @users.to_json.html_safe %>;

    var dashboard = d3.select(".dashboard")

    // Categories
    var categoriesPanel = dashboard.append("div")
      .classed("row", true)
      .append("div")
      .classed("col-md-12", true)
      .append("div")
      .classed("panel panel-blue", true);

    categoriesPanel.append("div")
    .classed("panel-heading", true)
    .text("Категории");

    var categoriesSvg = categoriesPanel.append("div")
    .classed("panel-body", true)
    .append("svg")
    .attr("height", "100%")
    .attr("width", "100%");

    plot.call(categoriesSvg, {
      data: categories
    });

    //Users
    var usersPanel = dashboard.append("div")
      .classed("row", true)
      .append("div")
      .classed("col-md-12", true)
      .append("div")
      .classed("panel panel-blue", true);

    usersPanel.append("div")
      .classed("panel-heading", true)
      .text("Семья");

    var usersSvg = usersPanel.append("div")
      .classed("panel-body", true)
      .append("svg")
      .attr("height", "100%")
      .attr("width", "100%");

    plot.call(usersSvg, {
      data: users
    });
  });
</script>

<style>
  .domain, .tick line {
    stroke: white;
  }
  .tick text {
    fill: white;
  }
</style>

<div class="dashboard">
</div>
