/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  margin: 15px;
}

.navbar-blue {
  background-color: #337ab7;
  border-color: #337ab7;
}

.navbar-blue a {
  color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: white;
  color: #337ab7;
  border-radius: 2px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #337ab7;
    color: white;
}

.dropdown-menu > li > a {
  color: #337ab7;
}

.dropdown-menu .divider {
  background-color: #337ab7;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: white;
}

.panel-blue {
  background-color: #337ab7;
  border-color: #337ab7;
}

.panel-blue ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: -10px;
}

.panel-blue ul li {
  padding-bottom: 10px;
}

.panel-blue ul a {
  text-decoration: none;
}

.panel-blue a {
  color: white;
}

 // *** records ***
.col-md-10 {
  padding-right: 0px;
}

.glyphicon {
  padding-right: 5px;
}

// *** dashboard ***
.menu {
  padding-left: 0px;
  padding-right: 5px;
}

.panel-heading {
  border-bottom: 1px solid white;
  color: white;
}

.bar {
  shape-rendering: crispEdges;
}

.bar-label {
  fill: white;
  text-anchor: end;
}
